<div *ngIf="formStat=='input'">
  <app-newnote (outputProperty)="outputEvent($event)" [updateId]="updateId" [index]="index"></app-newnote>
</div>

<div *ngIf="formStat=='detail'">
  <h4 class="sub-header">게시판 상세보기</h4>
  <table class="table-bordered">
    <tr class="active">
      <th style="width:25%">작성자</th>
      <td style="width:25%">{{note?.name}}</td>
      <th style="width:25%">작성일</th>
      <td style="width:25%">{{note?.ts | date:'yyyy년 MM월 dd일 HH시 mm분'}}</td>
    </tr>
    <tr class="textLeft">
      <th>제목</th>
      <td colspan="3">
        {{note?.title}}
      </td>
    </tr>
    <tr class="textLeft">
      <th>내용</th>
      <td colspan="3">
        {{note?.body}}
      </td>
    </tr>
  </table>
  <!-- 게시판 버튼 -->
  <p class="text-right" style="margin-top: 10px">
    <a class="btn btn-default btn-sm" id="btn_del" (click)="remove(note.id)">삭제</a>&nbsp;
    <a class="btn btn-primary btn-sm" id="btn_mod" (click)="goupdate(note.id,note.author)">수정</a>&nbsp;
    <a class="btn btn-default btn-sm" id="btn_list" (click)="btnListClick()">목록</a>
  </p>
</div>

<div *ngIf="formStat=='list'">
  <p class="text-right">
    <a class="btn btn-success btn-sm" id="btn_new" (click)="btnNewClick()">글작성</a>
  </p>
  <table class="table table-bordered">
    <thead>
      <tr class="active">
        <th class="col-lg-1">글번호</th>
        <th class="col-lg-7">제목</th>
        <th class="col-lg-2">작성자</th>
        <th class="col-lg-2">등록일</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let note of notes;index as i" data-index="#i">
        <td>{{note.id}}</td>
        <td class="textLeft"><a (click)="btnTitleClick(note.id,i)">{{note.title}}</a></td>
        <td>{{note.name}}</td>
        <td>{{note.ts | date:'yy.MM.dd HH:mm'}}</td>
      </tr>
    </tbody>
  </table>  
  <div class="center">
    <div class="pagination">
      <a >&laquo;</a>
    </div>
    <div class="pagination" *ngFor="let a of pageArray">
      <a (click)="pageBtnClick(a)">{{ a }}</a>
    </div>
    <div class="pagination">
      <a>&raquo;</a>
    </div>    
  </div>
 