<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.example.demo.dao.ApprovalDao">
	<select id="findAll" resultType="Approval">
		select a.id, a.doc_id, a.approver, e.name as approver_name, a.stat, a.reason, a.ts 
		from approval a
		left join emp e on a.approver=e.id
	</select>
	
	<select id="approverList" resultType="DocApprDetail">
		select a.doc_id, a.approver, e.name as approver_name, d.name as dept_name
		from approval a
		left join emp e ON e.id = a.approver
		left join dept d on d.chief = a.approver
		where a.doc_id = #{docId}
		order by a.approver desc
	</select>
	
	<update id="update" parameterType="Approval">
		update approval 
		<set>			
			<if test="stat">stat = #{stat} , </if>
			<if test="ts">ts = #{ts} </if>
		</set>
		where doc_id = #{docId}
		and approver = #{approver}
	</update>
</mapper>