<div *ngIf="loginProc=='join'||loginProc=='empMod'">
  <app-join (outputProperty)="receive($event)" [proc]="loginProc"></app-join>
</div>

<div *ngIf="loginProc=='login'">
  <app-login (outputProperty)="receive($event)"></app-login>
</div>

<div *ngIf="loginProc=='loginSuccess'" class="container" style="margin-top: 20px">
  <div class="bs-docs-section clearfix">
    <div class="row">
      <div class="col-lg-12">
        <div class="bs-component">
          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" routerLink="">TC</a>
              </div>
            
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li routerLinkActive="active"><a routerLink="org-chart">조직도</a></li>
                  <li routerLinkActive="active"><a routerLink="doc">전자결재</a></li>
                  <li routerLinkActive="active"><a routerLink="note">게시판</a></li>
                  <!-- <li routerLinkActive="active"><a routerLink="dept">부서관리</a></li> -->
                  <!-- <li routerLinkActive="active"><a routerLink="emp">사원관리</a></li> -->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li><a style="cursor: pointer;" (click)="empMod()">회원정보수정</a></li>  
                  <li><a style="cursor: pointer;" (click)="logOut()">로그아웃</a></li>  
                </ul>	 
              </div>
            </div>   
          </nav>
        </div>   
      </div>
    </div>
  </div>  
      <router-outlet></router-outlet>  
</div>