<div *ngIf="openForm=='Y'">
  <form class="form-horizontal" #f="ngForm" (ngSubmit)="add(f)">
    <div class="well bs-component">
      <fieldset>
        <div class="row"> 
          <div class="form-group">

            <label class="col-lg-2 control-label">부서명</label>
            <div class="col-lg-3">  
              <input class="form-control" *ngIf="newMode=='Y'" type="text" name="name"  [ngModel]="f.value.name" />                            
              <input class="form-control" *ngIf="updateMode=='Y'" type="text" name="name" [value]="selectedDept.name"/>
            </div>

            <label class="col-lg-2 control-label">부서장</label>
            <div class="col-lg-3">
              <input *ngIf="newMode=='Y'" type="text" name="chief" class="form-control"/>
              <input *ngIf="updateMode=='Y'" type="text" name="chief" class="form-control" [value]="selectedDept.chiefName"/>
            </div>                          
          </div>
        </div>

        <div class="row"> 
          <div class="form-group">
            <label class="col-lg-2 control-label">상위부서</label>
            <div class="col-lg-3">                              
              <select class="form-control" *ngIf="newMode=='Y'" name="upId">
                <option *ngFor="let dept of depts" [value]="dept.upId">{{dept.name}}</option>               
              </select>
              <select class="form-control" *ngIf="updateMode=='Y'" name="upId">
                  <option *ngFor="let dept of depts" [value]="dept.upId" [selected]="selectedDept.upId==dept.upId?true:null">{{dept.upName}}</option>
                </select>
            </div>             
          </div>
        </div>
        
        <p class="text-right">
          <button class="btn btn-primary btn-sm">삭제</button>&nbsp;
          <button type="submit" class="btn btn-primary btn-sm">등록</button>&nbsp;
          <button class="btn btn-default btn-sm" (click)="btnCancel_click()">닫기</button> 
        </p>
      </fieldset>
    </div>  
  </form>
</div>

<div class="table-responsive">
  <p class="text-right">
    <a class="btn btn-success btn-sm" id="btn_new" (click)="btnNew_click()" *ngIf="openForm=='N'">신규등록</a>
  </p>
  <table class="table table-bordered">
    <thead>
      <tr class="active">
        <th>부서명</th>
        <th>부서장</th>
        <th>상위부서</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dept of depts">
        <td><a (click)="onSelect(dept)">{{dept.name}}</a></td>
        <td>{{dept.chiefName}}</td>
        <td>{{dept.upName}}</td>
      </tr>
    </tbody>       
  </table>
</div>