<div class="table-responsive">
  <form #f="ngForm" #g="ngForm" class="form-horizontal"  (ngSubmit)="add(f)" (ngSubmit)="update(g)">      
    <h4 class="sub-header">게시판 글작성</h4>
    <div class="control-group" id="fields">
      <div class="controls">
        <div class="well bs-component">          
          <div ng-app="myApp" ngControl="myCtrl" hidden>                        
            <input type="text" id="ts" name="ts" [ngModel]="ts">            
          </div>

          <div class="form-group">
            <label class="col-lg-2 control-label">제목</label>
            <div class="col-lg-8">
              <input type="text" class="form-control" id="title" name="title" [ngModel]="title" value={{note?.title}}/>              
            </div>
          </div>
          <div class="form-group">
            <label for="textArea" class="col-lg-2 control-label">내용</label>            
            <div class="col-lg-8">
              <textarea class="form-control" rows="10" id="body" name="body" style="resize: none" [ngModel]="body" value={{note?.body}} ></textarea>              
            </div>
          </div>
          <p class="text-right">
            <a class="btn btn-default btn-sm" id="btn_cancel" (click)="btnCancel()">취소</a>
            <button *ngIf="addBtn =='Y'" type="submit" class="btn btn-primary btn-sm" id="btn_new">등록</button>                        
            <button *ngIf="updateBtn =='Y'" type="submit" class="btn btn-primary btn-sm" id="btn_new">수정</button>                        
          </p>
        </div>
      </div>
    </div>    
  </form>  
</div>

